{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <section class="col-lg-8 text-center">

      <h1 class="typewriter my-4"></h1>

      <article class="mb-5">
        <h3 class="mb-5">Hello! My name is <strong>Uroš Trstenjak</strong> and I'm web developer living in Ljubljana, Slovenia.</h3>
        <p class="subtitle">I primarily use <strong>Django</strong> and <strong>Python</strong> together with <strong>Postgres</strong>, <strong>Gunicorn</strong> and <strong>Nginx</strong> for the backend and <strong>JavaScript</strong>, <strong>jQuery</strong> and <strong>Bootstrap</strong> for the frontend. I'm comfortable using Django for all sorts of projects spanning from full CMS websites, database-driven web applications to REST-driven applications.</p>
        <p class="subtitle">The projects I have been working on so far followed the <strong>Agile development</strong> methodology, while I have also studied <strong>Test-Driven Development</strong> with <strong>Python</strong>, <strong>Django</strong> and <strong>Selenium</strong>.</p>
        <p class="subtitle">I have scratched the surfaces of <strong>React.js</strong>, <strong>Webapp2</strong> and <strong>Google App Engine</strong>.</p>

        <h4 class="mt-5 mb-4">Feel free to contact me via email at <strong>uros.trstenjak@gmail.com</strong>.</h4>
      </article>

    </section>
  </div>
</div>

{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeit/6.0.2/typeit.min.js"></script>
  <script type="text/javascript">
  var instance = new TypeIt(".typewriter", {
    speed: 50,
    waitUntilVisible: true
  })
  .type("About & Contact").go();
  </script>
{% endblock extrascripts %}
