{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <section class="col-lg-8 text-center">

      <article class="d-none d-md-block typewriter mt-5"></article>
      <article class="d-md-none typewriter-mobile mt-5"></article>

    </section>
  </div>
</div>

{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript" src="{% static 'js/typeit.min.js' %}"></script>
  <script type="text/javascript">
  var typewriter = new TypeIt(".typewriter", {
    speed: 50,
    waitUntilVisible: true,
    cursor: false
  })
  .type("They call me <strong>Trčo</strong>.").pause(1000).delete(29)
  .type("I'm a web developer using").break()
  .type("Python, Django & JavaScript.").pause(1000).delete(60).pause(500)
  .type("<strong>Trčo</strong>").break()
  .type("<strong>WEB</strong> developer")
  .go();

  var typewriterMobile = new TypeIt(".typewriter-mobile", {
    speed: 50,
    waitUntilVisible: true,
    cursor: false
  })
  .type("<strong>Trčo</strong>").break()
  .type("<strong>WEB</strong> developer")
  .go();
  </script>
{% endblock extrascripts %}
