{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>

    <!-- sytlesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- custom sytlesheets -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    {% block extrastylesheets %}{% endblock extrastylesheets %}
  </head>

  <body>

    <!-- header -->
    {% include "_header.html" %}

    <!-- content -->
    {% block content %}{% endblock content %}

    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- custom javascript -->
    {% block extrascripts %}{% endblock extrascripts %}
  </body>

</html>
